<a href="https://colab.research.google.com/github/tikendraw/NLP/blob/main/nltk_SMS_Spam_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger') 
from nltk.corpus import stopwords
import pandas as pd
import numpy as np
import regex as re
from nltk.stem import WordNetLemmatizer

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip
!unzip smsspamcollection.zip

In [ ]:
raw_data = pd.read_csv('SMSSpamCollection',sep = '\t', names = ['label','message'])
raw_data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
lemmatizer = WordNetLemmatizer()
stopwordlist = stopwords.words('english')
def lemma_it(a:str):
  a = re.sub('[^a-zA-Z]', ' ', a).lower().split()
  a = [lemmatizer.lemmatize(word) for word in a if word not in stopwordlist]
  a = ' '.join(a)
  return a

In [ ]:
lemma_it('Go until jurong point, crazy.. Available only ')

'go jurong point crazy available'

In [ ]:
raw_data.message = raw_data.message.apply(lemma_it)
raw_data.head()

  label                                            message
0   ham  go jurong point crazy available bugis n great ...
1   ham                            ok lar joking wif u oni
2  spam  free entry wkly comp win fa cup final tkts st ...
3   ham                u dun say early hor u c already say
4   ham                nah think go usf life around though

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
cv = CountVectorizer()

In [ ]:
from sklearn.compose import make_column_transformer

In [ ]:
x = cv.fit_transform(raw_data.message).toarray()

In [ ]:
x = pd.DataFrame(x)
x.shape

(5572, 7098)

In [ ]:
y = pd.get_dummies(raw_data.label,drop_first = True)

In [ ]:
y

      spam
0        0
1        0
2        1
3        0
4        0
...    ...
5567     1
5568     0
5569     0
5570     0
5571     0

[5572 rows x 1 columns]

In [ ]:
data = pd.concat([y,x],)

In [ ]:
data = data.fillna(0)
data.head()

   spam    0    1    2    3    4    5  ...  7091  7092  7093  7094  7095  7096  7097
0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2   1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 7099 columns]

In [ ]:
X = data.drop('spam',axis = 1)
y = data.spam

In [ ]:
data.spam

0       0.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
5567    0.0
5568    0.0
5569    0.0
5570    0.0
5571    0.0
Name: spam, Length: 11144, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(X,y,test_size = .2, random_state= 2)

In [ ]:
xtrain.shape,ytrain.shape

((8915, 7098), (8915,))

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB

In [ ]:
multi = MultinomialNB().fit(xtrain,ytrain)
gauss = GaussianNB().fit(xtrain,ytrain)
bern = BernoulliNB().fit(xtrain,ytrain)

In [ ]:
meval = multi.score(xtest,ytest)
geval = gauss.score(xtest,ytest)
beval = bern.score(xtest,ytest)

In [ ]:
meval,geval,beval

(0.9205921938088829, 0.566173171825931, 0.917900403768506)